:root {
  --coffee-emoji: url('../assets/coffee.emoji.png');
}

emoji-coffee {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: var(--coffee-emoji);
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}